---
## Default Kibana configuration from kibana-docker.
## https://github.com/elastic/kibana-docker/blob/master/.tedi/template/kibana.yml.j2
#
server.name: kibana
server.host: "0"
elasticsearch.hosts: [ "http://elk.c.developer-222401.internal:9200" ]
xpack.monitoring.ui.container.elasticsearch.enabled: true
xpack.infra.sources.default.logAlias: "logstash-*"

## X-Pack security credentials
#
elasticsearch.username: elastic
elasticsearch.password: {{ elasticsearch_password }}
